h1{
    text-decoration: underline;
     color : red;

}
body{
    background-image: url("https://wallpapers.com/images/hd/anonymous-hacker-with-programming-codes-nm4l9azckpyc5qak.webp");
    background-size: cover;
    color: white;
}
#id1{
    text-decoration: underline;
    color: ;
}
#id2{
    text-decoration: underline;
    color: whitesmoke;
}
#id3{
    text-decoration: underline;
    color: whitesmoke;
}
H2{
    text-decoration: underline;
    color : white;
}
